{% extends 'core/base.html' %}

{% block content %}

    <h1>Test System</h1>
    <div class="well">
        This tool interacts with the REDCap Neurobehavioral Repository copy. Use it to verify that Instrument creation
        is working as expected.
    </div>
    <hr>




    <form method="post" action="{% url 'create_instruments' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-success">
            Create instruments for all
        </button>
    </form>

    <form method="post" action="{% url 'delete_instruments' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-danger">
            Delete instruments for all
        </button>
    </form>

    <form method="post" action="{% url 'update_visit_info_metadata' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-primary">
            Update List of Groups and Studies
        </button>
    </form>

    <form method="post" action="{% url 'update_list_of_instruments' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-primary">
            Update List of Instruments
        </button>
    </form>

    <hr>
    <h3>Visits</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Record ID</th>
                <th>Visit instance</th>
                <th>Visit Studies</th>
                <th>Visit Age</th>
                <th>Visit Group</th>
                <th>Processed?</th>
                <th>Created Instrument/Instance #</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for visit in visits %}
                <tr>
                    <td>{{ visit.record_id }}</td>
                    <td>{{ visit.redcap_repeat_instance }}</td>
                    <td>{{ visit.visit_info_studies|join:" | " }}</td>
                    <td>{{ visit.visit_info_age|floatformat:2 }}</td>
                    <td>{{ visit.group_name }}</td>
                    <td>
                        {% if visit.completed_visit %}
                            YES
                        {% endif %}
                    </td>
                    <td>
                        {% if visit.completed_visit %}
                            {% for oCreated in visit.completed_visit.createdinstrument_set.all %}
                                • {{ oCreated.instrument_name }} (#{{ oCreated.instance }})<br>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if visit.completed_visit %}
                            <form method="post" action="{% url 'delete_instruments' visit.record_id visit.redcap_repeat_instance %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">
                                    Delete instruments
                                </button>
                            </form>
                        {% else %}
                            <form method="post" action="{% url 'create_instruments' visit.record_id visit.redcap_repeat_instance %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-success">
                                    Create instruments
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}