{% extends 'core/base.html' %}

{% block content %}

    <h1>Home</h1>
    <hr>




    <form method="post" action="{% url 'update_new_visits' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">
            Create instruments for all unprocessed visits
        </button>
    </form>

    <form method="post" action="{% url 'delete_all_created_instruments' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">
            Delete all created instruments
        </button>
    </form>

    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Visit ID</th>
                <th>Visit instance</th>
                <th>Visit Studies</th>
                <th>Visit Age</th>
                <th>Visit Group Mem</th>
                <th>Processed?</th>
                <th>Created Instrument/Instance #</th>
            </tr>
        </thead>
        <tbody>
            {% for visit in visits %}
                <tr>
                    <td>{{ visit.record_id }}</td>
                    <td>{{ visit.redcap_repeat_instrument }}</td>
                    <td>{{ visit.visit_info_studies }}</td>
                    <td>{{ visit.visit_info_age }}</td>
                    <td>{{ visit.visit_info_group_mem }}</td>
                    <td>
                        {% if visit.completed_visit %}
                            YES
                        {% endif %}
                    </td>
                    <td>
                        {% if visit.completed_visit %}
                            {% for oCreated in visit.completed_visit.createdinstrument_set.all %}
                                • {{ oCreated.instrument_name }} (#{{ oCreated.instance }})<br>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}